
@{
    ViewBag.Title = "İletişim";
}
<!DOCTYPE html>


<img src="~/Content/Image/fiesta.png" />

<h1>Adres ve İletişim</h1>
<h3>  Adres </h3>
<p> Bayrampaşa İstanbul</p>


<h3>Bize Ulaşın </h3>

<p> 0554 -000 -00-00 </p>
